  body {
     background-color: #B4FF9F;

  }

  hr {
    border-color: white;
    border-style: none;
    height: 1%;
  }

  img {
    height: 150px;
  }





  h3 {
    background-color: #66BFBF;
  }
